@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  --th-a: 255 251 247;
  --th-fg-1: theme(colors.l-fg-1);
  --th-fg-2: theme(colors.l-fg-2);
  --th-txt-1: theme(colors.l-txt-1);
  --th-txt-2: theme(colors.l-txt-2);
}

html.dark {
  --th-a: 24 22 19;
  --th-fg-1: theme(colors.d-fg-1);
  --th-fg-2: theme(colors.d-fg-2);
  --th-txt-1: theme(colors.d-txt-1);
  --th-txt-2: theme(colors.d-txt-2);
}

:root {
  --header-height: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:is(:hover, :focus, :active) {
  transition: background-color 50000s ease-in-out 0s;
}

input[type='file']::-webkit-file-upload-button {
  cursor: pointer;
}

/* SONNER */
@media (max-width: 600px) {
  [data-sonner-toaster][data-x-position='center'] {
    left: 0 !important;
    right: 0 !important;
    transform: none !important;
  }

  [data-sonner-toaster] [data-sonner-toast] {
    width: fit-content !important;
    left: 50% !important;
    translate: -50% !important;
  }
}

[data-sonner-toast][data-styled='true'] {
  width: fit-content !important;
  left: 50% !important;
  translate: -50% !important;
}

[data-sonner-toaster][data-x-position='center'] {
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  transform: none !important;
}
