@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

:root {
  --header-height: 40px;
}

/* Input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:is(:hover, :focus, :active) {
  transition: background-color 50000s ease-in-out 0s;
}

input[type='file']::-webkit-file-upload-button {
  cursor: pointer;
}

/* SONNER */
[data-sonner-toaster][data-x-position='center'] {
  width: calc(100% - 16px) !important;
  left: 0 !important;
  right: 0 !important;
  transform: none !important;
}

[data-sonner-toast][data-styled='true'] {
  width: max-content !important;
  max-width: min(400px, 95%) !important;
  left: 50% !important;
  translate: -50% !important;
}
